{% extends "base.html" %}
{% block title %}
  О проекте
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        О проекте
      </div>
      <div class="card-body">
        <p>
          Yaroslaves — это дом для искателей приключений в мире слов.
          Это сообщество людей, для которых чтение — это не просто досуг,
          а возможность путешествовать в другие миры,
          узнавать новые истории и находить единомышленников.
        </p>
        <p>
          Здесь вы не просто покупаете книги, вы обретаете друзей,
          с которыми можно обсудить любимых героев и делиться
          впечатлениями от прочитанного. Наш магазин – это
          открытая дверь в мир безграничного воображения.
        </p>
        <p>
          Миллионы историй ждут вас на наших полках.
          От захватывающих фэнтези до глубоких философских
          размышлений, от классической литературы до свежих
          новинок – каждый найдет здесь что-то для себя.
          Путешествия сквозь время и пространство,
          любовные романы, исторические хроники, научная
          фантастика – мы собрали все грани человеческого творчества.
        </p>
        <p>
          Любопытство, разнообразие и свобода мысли –
          вот что вдохновляет наших читателей.
          Присоединяйтесь к нам, и вместе мы
          откроем новые горизонты в мире литературы!
        </p>
      </div>
    </div>
  </div>
{% endblock %}