{% extends "base.html" %}
{% block title %}
  Наши правила
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        Правила сайта
      </div>
      <div class="card-body">
        <p>
          <b>Самовыражение через чтение.</b> Мы верим, что каждая книга —
          это способ самовыражения, диалог с автором и
          возможность заглянуть внутрь себя. Выбирайте книги,
          которые отражают ваши интересы, взгляды и стремления.
        </p>
        <p>
          <b>Многообразие книжных миров.</b> Мы ценим разнообразие литературных жанров,
          стилей и культур. В нашем магазине вы найдете
          книги на любой вкус: от классики до современных
          бестселлеров, от научной литературы до поэзии,
          от детских сказок до серьезных исследований.
          Мы уважаем и приветствуем различные точки зрения, представленные в книгах.
        </p>
        <p>
          <b>Творческое вдохновение.</b> Книги — это источник вдохновения и площадка для творчества.
          Они могут подтолкнуть к созданию собственных произведений,
          пробудить интерес к новым видам искусства,
          помочь в решении сложных задач.
          Наш магазин предоставляет вам доступ к знаниям и историям,
          которые помогут раскрыть ваш творческий потенциал.
        </p>
        <p>
          <b>Личный выбор и конфиденциальность.</b> Мы уважаем ваше право на личное пространство.
          Вы сами решаете, какие книги покупать,
          какие обзоры читать и с кем делиться своим
          мнением о прочитанном. Мы обязуемся защищать вашу
          персональную информацию и гарантируем конфиденциальность ваших заказов.
        </p>
      </div>
    </div>
  </div>
{% endblock %}